

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{margin: 0;

}
/* banner styles  */
.start-banner{
  margin: 0 auto;
  /* border: 2px solid red; */
  width: 1440px;
  height: 652px;
  background-image: url(../assets/hero-bg.png);
  
}
.banner-items{
  margin: 26px 221px 44px 221px;
  width: 998px;
  height: 582px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px;
}
.banner-heading{
  /* display: flex; */
  /* flex-direction: column; */
  margin: 24px 0px;
  /* position: static; */
  /* width: 998px;   */
  /* height: 136px; */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 900;
  font-style:inherit;
  text-align: center;
}
.banner-items p{
  font-size: 16px;
  font-weight: 400px;
  margin-top: 24px;
}
.banner-items input{
  background-color: black;
  color: white;
  padding: 21px 24px;
  margin-top: 32px;
  margin-bottom: 44px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 21px;
}
/* hero/banner section ends */
/* why I am here! section */
.description{
  margin: 0 auto ;
  /* border: 2px solid blueviolet; */
  width: 1140px;
  height: 1395px;
  top: 857px;
  bottom: 2993px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 97px 80px 97px;


}
.description-heading{
  padding-left:47px ;
  padding-right: 47px ;
  text-align: center;
  /* gap:24px; */
  /* border: 2px slid red; */
}
.description-heading h2{
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
}
.description-heading p{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.description-section-1{
  border-radius: 16px;
  /* border: 2px solid blue; */
  background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  width: 946px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* padding: 48px; */
  gap: 150.83px;
}
.description-section-1 .div2-text{
  /* width: 477px; */
  height: 180px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px; 
  /* border: 2px solid black; */
  /* margin: 0 auto; */

}
.description-section-1-text h3{
  color: rgba(13, 19, 33, 0.7);
  /* font-family: Azeret Mono; */
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  /* margin-bottom: 16px; */
}
.description-section-1-text a{
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  /* text-align: center; */
}
.description-section-1-img{
  align-items: center;
  /* margin-top:32px ; */
  
}
/* description section 1 done */
/* description section 2 starts */
.description-section-2{
  display: grid;

}
/* description-section-2 ends */
.description-section-3{
  display: grid;
}
.video-link{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 980px;
  padding: 16px;
}
.video-link .video{
  /* height: 200px;
  width: 200px; */
  margin: 32px;
  padding: 16px;
}
/* video section ends */
/* current-target-container */
.current-target-container{
  height: 463px;
  width: 1140px;
  margin: 0 auto;
  display: grid; 
  grid-template-rows: 33%;
  /* grid-template-columns:33% ; */
  grid-column-gap: 1em;

}
.box-of-container{
  /* position: static; */
  border: 2px solid blue;
  width: 364px;
  height: 300px;
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;

  /* flex-direction: column; */
  /* justify-content: space-between; */
}
.box-of-container img{
  height: 55px;
  width: 38px;
}
.container-btn{
  text-decoration: none;
  border: 2px solid black;

}
/* feedback section */
.support{
  border: 2px solid green; 
  /* padding: 64px; */
  
  /* justify-content: center; */
  width:1140px ;
  height: 314px;
  padding: 64px 48px;
  background-image: url(../assets/handshake.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  gap: 24px;
}
.support-text{
  width: 1044px;
  height: 187px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.support h3{
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
.support p{
  color: white;
  text-align: center;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;

}
.support input {
  background-color: aliceblue;
  color: black;
  width: 508px;
  height: 19px;
  padding: 20px;
  margin: 1px;
  text-align: center;
  border-radius: 10px; 
  margin-bottom: 0;
}
.sopport-submit{
  width: 120px;
  height: 58px;
  padding: 17px 20px;
  margin: 16px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  /* text-align: center; */
  text-decoration: none;
  margin-bottom: 0 ;
}
.footer{
  position: absolute;
  width: 1440px;
  height: 100px;
  padding: 32px 150px;
  
}